.title {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #f1f1f2;
}

.text {
  padding: 8px;
  font-weight: 500;
  font-size: 1.8rem;
}

.result {
  padding: 8px;
}

.btn {
  background-color: green;
  padding: 8px 12px;
  margin-right: 12px;
  float: right;
  border-radius: 8px;
}
