.wrapper {
  padding: 12px 102px 12px 82px;
  max-width: 900px;
  overflow-x: scroll;

  h1 {
    margin: 24px 0;
  }
}
.btn {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0;
  border-top: 1px solid gray;

  .btn-back {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: gray;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    margin-right: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  .btn-duyet {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: #ec482d;
    border-radius: 8px;
    font-weight: 600;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}
