.box-btn {
  padding: 12px 0 4px 0;
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 8px;
}

.btn-primary {
  background-color: orange;
}
