.wrapper {
  padding: 16px 52px;
  min-height: 100vh;
}

.inner {
  display: flex;
  flex-direction: column;
}

.course {
  padding: 12px 0;
  display: flex;
  border-bottom: 1px solid gray;

  &:hover {
    background-color: #f1f1f2;
  }

  .thumbnail {
    width: 350px;
    height: 221px;
  }
}

.description {
  padding: 4px 12px 4px 24px;

  .title-course {
    color: black;
    font-weight: 600;
  }

  .member-course {
    display: flex;
    align-items: center;
    margin: 8px 0;

    .text-member {
      margin-left: 8px;
    }
  }

  .text {
    height: 250px;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    max-height: 135px;
    color: black;
  }
}
