.wrapper {
  padding: 12px 24px 12px 74px;
}

.blog-table {
  width: 100%;

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

.td-thumbnail {
  .thumbnail {
    width: 150px;
  }
}

.block-action {
  display: flex;
  align-items: center;
}

.btn {
  padding: 8px 12px;
  font-size: 1.6rem;
  border-radius: 4px;
  background-color: gray;
  margin: 4px;
  color: black;
  font-weight: 500;
}

.modal {
  overflow-y: scroll;
}
.btn-primary {
  background-color: #bfdeff;
}

.th-title {
  width: 500px;
}

.th-image {
  width: 200px;
}

.th-action {
  width: 150px;
}

.btn-icon {
  background-color: #bfdeff;
  padding: 8px 12px;
  margin-left: 4px;
  border-radius: 8px;
}

.action {
  background-color: transparent;
}

.icon {
  background-color: transparent;
  color: black;
  font-size: 1.6rem;
}
