.wrapper {
  padding: 16px 52px;
  min-height: 100vh;
}

.inner {
  display: flex;
  flex-direction: column;
}

.blog {
  padding: 12px 24px;
  display: flex;
  border-bottom: 1px solid gray;

  &:hover {
    background-color: #f1f1f2;
  }

  .thumbnail {
    width: 350px;
    height: 221px;
  }
}

.description {
  padding: 4px 12px 4px 24px;

  .title-blog {
    color: black;
    font-weight: 600;
  }

  .profile-blog {
    display: flex;
    align-items: center;
    margin: 8px 0;

    .avatar-user {
      width: 35px;
    }

    .name-user {
      margin-left: 8px;
      font-weight: 500;
    }
  }

  .text {
    color: black;
  }
}
