.form-control {
  margin: 12px 0;
}

.input {
  padding: 8px 12px;
  border: 1px solid gray;
  width: 100%;
  border-radius: 4px;
  font-size: 1.6rem;
}

.box-btn {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 8px;
}

.thumbnail {
  max-width: 600px;
}

.error {
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  background-color: #f1f1f2;
  margin-top: 12px;

  .icon-close {
    &:hover {
      cursor: pointer;
    }
  }
}
