.wrapper {
  padding: 12px 24px 12px 74px;
}

.users-table {
  width: 100%;

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

.td-thumbnail {
  .thumbnail {
    width: 100px;
  }
}

.form-add-course {
  p {
    margin-left: 0;
  }
}

.block-action {
  display: flex;
  align-items: center;
}

.btn {
  padding: 8px 12px;
  font-size: 1.6rem;
  border-radius: 4px;
  background-color: gray;
  margin: 4px;
  color: black;
  font-weight: 500;
}

.btn-primary {
  background-color: #bfdeff;
}

.th-id {
  width: 250px;
}

.th-name {
  width: 200px;
}

.th-image {
  width: 150px;
}

.th-status {
  width: 150px;
}

.th-action {
  width: 50px;
}

.box-icon-lock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-lock {
  border-radius: 12px;
  font-size: 1.8rem;
  padding: 12px 16px;
  display: block;
  background-color: #f16239;

  &:hover {
    cursor: pointer;
  }
}

.icon-unlock {
  border-radius: 12px;
  font-size: 1.8rem;
  padding: 12px 16px;
  display: block;
  background-color: green;

  &:hover {
    cursor: pointer;
  }
}
