.wrapper {
  padding: 16px 76px 16px 120px;
  min-height: 100vh;
}

.control-input {
  margin: 16px 0;

  p {
    font-size: 1.6rem;
  }
}
.input {
  width: 100%;
  padding: 8px 16px;
  font-size: 1.8rem;
  border: 1px solid #f1f1f2;
}

.file {
  width: 100%;
  padding: 8px 16px;
  font-size: 1.6rem;
}

.control-thumbnail {
  margin: 12px 0;

  .thumbnail {
    max-width: 700px;
  }
}

.box-btn {
  display: flex;
  justify-content: flex-end;

  .btn-back {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: gray;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    margin-right: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  .btn-post {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: #ec482d;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    margin-right: 12px;

    &:hover {
      cursor: pointer;
    }
  }
}
